{%- macro info(rivername,Image_url,map,country,states,region,source,source1location,sourceelevation,mouth,mouthlocation,mouthelevation,length,basinsize,discharge_location,discharge_average,discharge_min,discharge_max,tributariesleft,tributariesright) %}


{{'{{Infobox river'}}
{%- if rivername!= 'nan' %}
| name = {{rivername}}
{%- endif %}
{%- if Image_url!= 'nan' %}
| image = {{Image_url}}
| image_size = 300
|image_caption ={{rivername}} నది
{%- endif %}
{%- if map!= 'nan' %}
| map = {{map}}
| map_size = 300 px
| map_caption = {{rivername}} నది పటం
{%- endif %}
{%- if country!= 'nan' %}
| subdivision_type1  = దేశం
| subdivision_name1  = {{country}}
{%- endif %}
{%- if states!= 'nan' %}
| subdivision_type2  = రాష్ట్రం
| subdivision_name2  = {{states}}
{%- endif %}
{%- if region!= 'nan' %}
| subdivision_type3  = ప్రాంతం
| subdivision_name3 ={{region}}
{%- endif %}
{%- if length!= 'nan' %}
| length={{length}} కి.మీ.
{%- endif %}
{%- if discharge_location!= 'nan' %}
| discharge1_location= {{discharge_location}}
{%- endif %}
{%- if discharge_min!= 'nan' %}
| discharge1_min= {{discharge_min}}
{%- endif %}
{%- if discharge_average!= 'nan' %}
| discharge1_avg = {{discharge_average}}
{%- endif %}
{%- if discharge_max!= 'nan' %}
| discharge1_max = {{discharge_max}}
{%- endif %}
{%- if source!= 'nan' %}
| source1 = {{source}}
{%- endif %}
{%- if source1location!= 'nan' %}
| source1_location = {{source1location}}
{%- endif %}
{%- if sourceelevation!= 'nan' %}
| source1_elevation ={{sourceelevation}} కి.మీ.
{%- endif %}
{%- if mouth!= 'nan' %}
| mouth= {{mouth}}
{%- endif %}
{%- if mouthlocation!= 'nan' %}
| mouth_location = {{mouthlocation}}
{%- endif %}
{%- if mouthelevation!= 'nan' %}
| mouth_elevation ={{mouthelevation}} కి.మీ.
{%- endif %}
{%- if basinsize!= 'nan' %}
| basin_size = {{basinsize}}
{%- endif %}
{%- if tributariesleft!= 'nan' %}
| tributaries_left = {{tributariesleft}}
{%- endif %}
{%- if tributariesright!= 'nan' %}
| tributaries_right = {{tributariesright}}
{%- endif %}
{{'}}'}}
{%- endmacro -%}

{%- macro intro(rivername,country,states,length,othernames) -%}

    {%- if country!='nan' %}
        {%- set place_line1=[rivername + " నది [[" + country + "]] దేశానికి చెందినది."] | join('') -%}
        {%- set place_line2=[rivername + " నది [[" + country + "]] దేశమునకు చెందినది."] | join('') -%}
	    {{ [place_line1,place_line2] | random}}
    {%- endif %}
    {%- if othernames!='nan' %}
        {%- set othername_line1=[rivername + " నది ఇతర పేర్లు " + othernames + "."] | join('') -%}
        {%- set othername_line2=[rivername + " నదిని " + othernames + " అని కూడా పిలుస్తారు."] | join('') -%}
	    {{ [othername_line1,othername_line2] | random}}
    {%- endif %}
    {%- if states!='nan' %}
        {%- set states_line1=[rivername + " నది " + states + " రాష్ట్రాలలో ప్రవహిస్తుంది."] | join('') -%}
        {%- set states_line2=[states + " రాష్ట్రాలలో " + rivername + " నది ప్రవహిస్తుంది." ] | join('') -%}
	    {{ [states_line1,states_line2] | random}}
    {%- endif %}
    {%- if length!='nan' and region !='nan' %}
        {%- set len_line1=["ఈ నది మూల స్థానం నుండి దాదాపు " + length + " కిలోమీటర్లు దూరం [["+region+"]]లో ప్రవహిస్తుంది." ] | join('') -%}
	    {{ [len_line1] | random}}
    {%- elif length!='nan'%}
        {%- set len_line1=[rivername + " నది పొడవు " + length + " కిలోమీటర్లు. "] | join('') -%}
        {%- set len_line2=[rivername + " నది " + length + " కిలోమీటర్లు పొడవు ఉంటుంది." ] | join('') -%}
        {%- set len_line3=["ఈ నది పొడవు " + length + "కిలోమీటర్లు." ] | join('') -%}
        {{ [len_line1,len_line2,len_line3] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\">{{Cite web|url=" + wikipedia_link + "|title=" + river_name + "|work=Wikipedia |language=en |access-date=2022-06-21}}</ref> " | join('') -%}
        {{wiki_link_line}}
    {%- endif %}
    
{%- endmacro -%}

{%- macro geometry(rivername,basinsize,latitude,longitude) -%}
    {{'\n'}}==భౌగోళిక ప్రదేశం(ప్రాంతం)=={{'\n'}}{{find_line}}{{'\n'}}
    {%- if basinsize!='nan' %}
        {%- set basin_line1=[rivername + " నది పరీవాహక ప్రాంతం " + basinsize + " చదరపు కిలోమీటర్లు."] | join('') -%}
        {%- set basin_line2=[rivername + " నది " + basinsize + " చదరపు కిలోమీటర్ల పరీవాహక ప్రాంతం కలిగి ఉంటుంది." ] | join('') -%}
	    {{ [basin_line1,basin_line2] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\" />" | join('') -%}
        {{wiki_link_line}}
    {%- endif %}
    {%- if latitude!='nan' and longitude!='nan' %}
        {%- set latlong_line1=[rivername + " నది అక్షాంశం(లాటిట్యూడ్) " + latitude + ", రేఖాంశం(లాంగిట్యూడ్) " + longitude + "."] | join('') -%}
        {%- set latlong_line2=["ఈ నది అక్షాంశం(లాటిట్యూడ్) " + latitude + ", రేఖాంశం(లాంగిట్యూడ్) " + longitude + "." ] | join('') -%}
        {%- set latlong_line3=[rivername + " నది అక్షాంశం(లాటిట్యూడ్) " + latitude + ". " + rivername + " నది రేఖాంశం(లాంగిట్యూడ్) " + longitude + "."] | join('') -%}
        {%- set latlong_line4=["ఈ నది అక్షాంశం(లాటిట్యూడ్) " + latitude + ". " + "ఈ నది రేఖాంశం(లాంగిట్యూడ్) " + longitude + "."] | join('') -%}
        {{ [latlong_line1,latlong_line2,latlong_line3,latlong_line4] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\">{{Cite web|url=" + dbpedia_link + "|title=About: |last=|first=|date=|website=dbpedia.org|url-status=live|archive-url=|archive-date=|access-date=2022-06-24}}</ref>" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif latitude=='nan' and longitude!='nan' %}
        {%- set latlong_line1=[rivername + " నది రేఖాంశం(లాంగిట్యూడ్) " + longitude + "."] | join('') -%}
        {%- set latlong_line2=["ఈ నది రేఖాంశం(లాంగిట్యూడ్) " + longitude + "."] | join('') -%}
        {{ [latlong_line1,latlong_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\">{{Cite web|url=" + dbpedia_link + "|title=About: |last=|first=|date=|website=dbpedia.org|url-status=live|archive-url=|archive-date=|access-date=2022-06-24}}</ref>" | join('') -%}
        {{dbpedia_link_line}}
            
    {%- elif latitude!='nan' and longitude=='nan' %}
        {%- set latlong_line1=[rivername + " నది అక్షాంశం(లాటిట్యూడ్) " + latitude + "."] | join('') -%}
        {%- set latlong_line2=["ఈ నది అక్షాంశం(లాటిట్యూడ్) " + latitude + "." ] | join('') -%}
        {{ [latlong_line1,latlong_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\">{{Cite web|url=" + dbpedia_link + "|title=About: |last=|first=|date=|website=dbpedia.org|url-status=live|archive-url=|archive-date=|access-date=2022-06-24}}</ref>" | join('') -%}
        {{dbpedia_link_line}}
    {%- endif %}
    
{%- endmacro -%}

{%- macro tributaries(rivername,tributariesleft,tributariesright) -%}
    {{'\n'}}==నది ఉపనదులు=={{'\n'}}{{find_line}}{{'\n'}}
    {%- if tributariesleft!='nan' and longitude!='nan' %}
        {%- set tribut_line1=[rivername + " నదికి గల ముఖ్యమైన ఉపనదులు " + tributariesleft + "," + tributariesright + "."] | join('') -%}
        {%- set tribut_line2=[tributariesleft + "," + tributariesright + " మొదలగునవి " + rivername + " నదికి ముఖ్యమైన ఉపనదులు." ] | join('') -%}
        {%- set tribut_line3=[rivername + " నది ఎడమ ఉపనదులు " + tributariesleft + "." , rivername + " నది కుడి ఉపనదులు " + tributariesright + "." ] | join('') -%}
        {{ [tribut_line1,tribut_line2,tribut_line3] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif tributariesleft=='nan' and tributariesright!='nan' %}
        {%- set tribut_line1=[rivername + " నది కుడి ఉపనదులు " + tributariesright + "."] | join('') -%}
        {%- set tribut_line2=[rivername + " నదికి గల కుడి ఉపనదులు " + tributariesright + "."] | join('') -%}
        {%- set tribut_line3=[tributariesright + " మొదలగునవి " + rivername + " నది కుడి ఉపనదులు."] | join('') -%}
        {{ [tribut_line1,tribut_line2,tribut_line3] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}    
            
    {%- elif tributariesleft!='nan' and tributariesright=='nan' %}
        {%- set tribut_line1=[rivername + " నది ఎడమ ఉపనదులు " + tributariesleft + "."] | join('') -%}
        {%- set tribut_line2=[rivername + " నదికి గల ఎడమ ఉపనదులు " + tributariesleft + "."] | join('') -%}
        {%- set tribut_line2=[tributariesleft + " మొదలగునవి " + rivername + " నది ఎడమ ఉపనదులు."] | join('') -%}
        {{ [tribut_line1,tribut_line2,tribut_line3] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}
        
    {%- endif -%}
{%- endmacro -%}

{%- macro flow(rivername,country,source,source1location,sourceelevation,mouthlocation,mouth,mouthelevation) -%}
   
    {{'\n'}}==నది ప్రవాహం=={{'\n'}}{{find_line}}{{'\n'}}
    {%- if country!='nan' and source!='nan' and source1location!='nan' %}
        {%- set source_line1=[rivername + " నది " + country + "లోని " + source + "లోని " + source1location + " దగ్గర మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=["[["+country+"]]" + "లోని " + source + "లోని " + source1location + " దగ్గర " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}
    
    {%- elif country=='nan' and source!='nan' and source1location!='nan' %}
        {%- set source_line1=[rivername + " నది " + source + "లోని " + source1location + " దగ్గర మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=[source + "లోని " + source1location + " దగ్గర " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif country!='nan' and source=='nan' and source1location!='nan' %}
        {%- set source_line1=[rivername + " నది [[" + country + "]]లోని " + source1location + " దగ్గర మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=["[["+country+"]]" + "లోని " + source1location + " దగ్గర " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif country!='nan' and source!='nan' and source1location=='nan' %}
        {%- set source_line1=[rivername + " నది [[" + country + "]]లోని " + source + "లో " + " మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=["[["+country+"]]" + "లోని " + source + "లో " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif country!='nan' and source=='nan' and source1location!='nan' %}
        {%- set source_line1=[rivername + " నది [[" + country + "]]లో " + " మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=["[["+country+"]]" + "లో " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif country=='nan' and source!='nan' and source1location!='nan' %}
        {%- set source_line1=[rivername + " నది " + source + "లో " + " మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=[source + "లో " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif country=='nan' and source=='nan' and source1location!='nan' %}
        {%- set source_line1=[rivername + " నది " + source1location + " దగ్గర మొదలవుతుంది."] | join('') -%}
        {%- set source_line2=[source1location + " దగ్గర " + rivername + " నది మొదలవుతుంది."] | join('') -%}
        {{ [source_line1,source_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}
    {%- endif %}
    {%- if sourceelevation!='nan' %}
        {%- set sourelev_line1=[rivername + " నది మూలం ఎత్తు " + sourceelevation + "."] | join('') -%}
        {%- set sourelev_line2=["ఈ నది మూలం ఎత్తు " + sourceelevation + "."] | join('') -%}
	    {{ [sourelev_line1,sourelev_line2] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\" />" | join('') -%}
        {{wiki_link_line}}
    {%- endif %}
    {%- if mouthlocation!='nan' and mouth!='nan' %}
        {%- set mouloc_line1=[rivername + " నది " + mouthlocation + " దగ్గర [["+ mouth +"]]లో కలుస్తుంది."] | join('') -%}
        {%- set mouloc_line2=["ఈ నది " + mouthlocation + " దగ్గర [["+ mouth +"]]లో కలుస్తుంది."] | join('') -%}
        {{ [mouloc_line1,mouloc_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif mouthlocation!='nan' and mouth=='nan' %}
        {%- set mouloc_line1=[rivername + " నది " + mouthlocation + " దగ్గర సముద్రంలో కలుస్తుంది."] | join('') -%}
        {%- set mouloc_line2=["ఈ నది " + mouthlocation + " దగ్గర సముద్రంలో కలుస్తుంది." ] | join('') -%}
        {{ [mouloc_line1,mouloc_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}

    {%- elif mouthlocation=='nan' and mouth!='nan' %}
        {%- set mouloc_line1=[rivername + " నది [[" + mouth +"]]లో కలుస్తుంది. "] | join('') -%}
        {%- set mouloc_line2=["ఈ నది [[" + mouth +"]]లో కలుస్తుంది. "] | join('') -%}
        {{ [mouloc_line1,mouloc_line2] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}
    {%- endif %}
    {%- if mouthelevation!='nan'%}
        {%- set mouelev_line1=[rivername + " నది " + mouthelevation + " ఎత్తునుంచి సముద్రంలో కలుస్తుంది."] | join('') -%}
        {%- set mouelev_line2=["ఈ నది " + mouthelevation + " ఎత్తునుంచి సముద్రంలో కలుస్తుంది."] | join('') -%}
        {{ [mouelev_line1,mouelev_line2] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\" />" | join('') -%}
        {{wiki_link_line}}
    {%- endif %}
{%- endmacro -%}

{%- macro discharge(rivername,discharge_location,discharge_average,discharge_min,discharge_max,mouth) -%}
    {{'\n'}}==సముద్రంలో నీటి విడుదల=={{'\n'}}{{find_line}}{{'\n'}}
    {%- if discharge_location!='nan'%}
        {%- set disloc_line1=[rivername + " నది " + discharge_location + " దగ్గర సముద్రంలో కలుస్తుంది."] | join('') -%}
        {%- set disloc_line2=[rivername + " నది " + discharge_location + " వద్ద సముద్రంలో కలుస్తుంది."] | join('') -%}
        {%- set disloc_line3=[rivername + " నది సముద్రంలో కలిసే స్థలం " + discharge_location + "."] | join('') -%}
        {{ [disloc_line1,disloc_line2,disloc_line3] | random}}
	{%- set dbpedia_link_line = "<ref name=\"dbpedia_link\" />" | join('') -%}
        {{dbpedia_link_line}}
    {%- endif %}
    {%- if discharge_average!='nan'%}
        {%- set disavg_line1=[rivername + " నది లోని నీరు క్షణముకు సగటు " + discharge_average+ "."] | join('') -%}
        {%- set disavg_line2=["ఈ నది లోని నీరు క్షణముకు సగటు " + discharge_average+ ". "] | join('') -%}
        {{ [disavg_line1,disavg_line2] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\" />" | join('') -%}
        {{wiki_link_line}}
    {%- endif %}

    {%- if discharge_max!='nan'  %}
        {%- set dismax_line1=[" ఇప్పటి వరకు నమోదు అయినా రికార్డుల ప్రకారం " + rivername + " నది లోని నీరు క్షణముకు గరిష్ట మోతాదు " + discharge_max+ "." ] | join('') -%}
        {%- set dismax_line2=["ఇప్పటి వరకు నమోదు అయినా గరిష్ట మోతాదు క్షణముకు " + discharge_max + "."] | join('') -%}
        {{ [dismax_line1,dismax_line2] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\" />" | join('') -%}
        {{wiki_link_line}}

    {%- endif %}

    
    {%- if discharge_min!='nan'  %}
        {%- set dismin_line1=["ఇప్పటి వరకు నమోదు అయినా కనిష్ట మోతాదు క్షణముకు " + discharge_min + "."] | join('') -%}
        {{ [dismin_line1] | random}}
	{%- set wiki_link_line = "<ref name=\"wiki_link\" />" | join('') -%}
        {{wiki_link_line}}
    {%- endif %}
{%- endmacro -%}
{%- macro references(wikipedia_link,dbpedia_link) -%}
{{'\n'}}==మూలాలు=={{'\n'}}<references />{{"\n"}}
[[వర్గం:నదులు]]
{%- if wikipedia_link != 'nan' %}[[వర్గం:{{wikipedia_link}}నదులు]]{%- endif %}{{"\n"}}
{%- if dbpedia_link!= 'nan' %} [[వర్గం:{{dbpedia_link}}నదులు]] {%- endif %}

{%- endmacro -%}
{# Function Calls Below#}

{{ info(rivername,Image_url,map,country,states,region,source,source1location,sourceelevation,mouth,mouthlocation,mouthelevation,length,basinsize,discharge_location,discharge_average,discharge_min,discharge_max,tributariesleft,tributariesright) }}
{%- if country!='nan' or othernames!='nan' or states!='nan' or length!='nan' or region !='nan' %}
    {{ intro(rivername,country,states,length,othernames) }}
{%- endif -%}

{%- if basinsize!='nan' or latitude!='nan' or longitude!='nan' %}
    {{ geometry(rivername,basinsize,latitude,longitude) }}
{%- endif -%}

{%- if tributariesleft!='nan' or tributariesright!='nan' %}
    {{ tributaries(rivername,tributariesleft,tributariesright) }}
{%- endif -%}

{%- if country!='nan' or source!='nan' or source1location!='nan' or sourceelevation!='nan' or mouthlocation!='nan' or mouth!='nan' or mouthelevation!='nan' %}
   {{ flow(rivername,country,source,source1location,sourceelevation,mouthlocation,mouth,mouthelevation) }}
{%- endif -%}

{%- if discharge_location!='nan' or discharge_average!='nan' or discharge_min!='nan' or discharge_max!='nan' or mouth!='nan' %}
    {{ discharge(rivername,discharge_location,discharge_average,discharge_min,discharge_max,mouth) }}
{%- endif -%}

{{ references(wikipedia_link,dbpedia_link) }}

{{"\n"}}[[వర్గం:తెవికీ నదులు]]